.friends .friends__plus {
  margin: 20px 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #f7f7f7;
  border-top: 1px solid #f7f7f7;
}

.friends__plus .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.friend .friend__now-listening {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #3a9259;
  font-size: 12px;
}

.friend__now-listening span {
  opacity: 0.7;
}

.friend__now-listening i {
  font-size: 10px;
}
